Demo_01_Customer_Support_Ticket_Routing.json
{
  "name": "Demo 01 - Automated Customer Support Ticket Routing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        0
      ],
      "id": "8f1c1a1e-1111-4a11-9a11-111111111111",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {}; // previous node's json\n\n// Try multiple common Gmail fields (works with Simplify Output ON)\nconst sender  = r.from || r.sender || r.headers?.from || \"\";\nconst subject = r.subject || r.headers?.subject || \"\";\nconst body    = r.text || r.textPlain || r.textHtml || r.snippet || \"\";\n\n// Simple priority rules\nconst text = `${subject} ${body}`;\nlet priority = \"Low\";\nif (/(urgent|critical|immediately|down)/i.test(text)) priority = \"High\";\nelse if (/(issue|problem|error|delay)/i.test(text))   priority = \"Medium\";\n\n// ALWAYS wrap in { json: ... }\nreturn [{\n  json: { timestamp: new Date().toISOString(), sender, subject, body, priority }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "8f1c1a1e-2222-4a11-9a11-222222222222",
      "name": "Parse and Prioritize Email"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$json.timestamp}}",
            "sender": "={{$json.sender}}",
            "subject": "={{$json.subject}}",
            "priority": "={{$json.priority}}",
            "status": "Logged"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "type": "string"
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "type": "string"
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "type": "string"
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        0
      ],
      "id": "8f1c1a1e-3333-4a11-9a11-333333333333",
      "name": "Log Ticket to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Parse and Prioritize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Prioritize Email": {
      "main": [
        [
          {
            "node": "Log Ticket to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
